/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    padding:0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container, footer{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title, .subsection-title{
    margin: 0;
    font-size: 22px;
}
h1{
	padding-top: 1rem;
}

.link-footer {
    margin: 0;
    font-size: 16px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/

header{
	display: flex;
	justify-content: space-between;
}
header img{
	width: 61px;
	height: 19px;
	padding: 30px 0;
}
nav ul{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	text-align: end;

}
nav ul li a:hover{
	border-top: 2px solid var(--main-color);
	color: var(--main-color);
	padding-top: 10px;

}
/****** barre de recherches ***********/
.search-bar{
	display: flex;
}
.search-bar form {
	display: flex;
	min-width: 250px;
	height: 49px;
	margin: 1rem 0;
}
.search-bar form .fa-location-dot{
	background-color: var(--main-bg-color) ;
	padding: 20px;
	border-radius: 15px 0 0 15px; 
	font-size: 20px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-bar form input{
	border: 1px solid var(--main-bg-color);
	border-left: none;
	border-right: none;
	font-size: 18px;
	font-weight: 700;
	padding-left: 15px;
	min-width: 100px;
	flex-shrink: 1;
	
}
.search-bar form button{
	background-color: var(--main-color);
	padding: 15px 16px;
	color: white;
	font-size: 18px;
	font-weight: 700;
	border-radius: 0 15px 15px 0;
	border: none;
	cursor: pointer;
	
}
.search-bar form button i{
	display: none;
}

/****** barre de filtres ***********/
.filterbar{
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}
.filterbar ul{
	font-size: 18px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	padding-inline-start: 0;
	gap: 10px;
}

.filterbar li{
	font-size: 17px;
	border: 2px solid var(--main-bg-color);
	border-radius: 25px;
	padding: 15px 19px;
	cursor: pointer;
}
.filterbar li:hover{
	background-color: var(--filter-bg-color);
}
.filterbar i{
	width: 22px;
	height: 22px;
	padding: 0 5px;
}

/****** info bar ***********/
.infobar{
	display: flex;
	align-items: center;
	margin-top:1rem;
}
.infobar .fa-info{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 1px solid var(--main-bg-color);
	border-radius: 50%;
	font-size: 12px;
	flex-shrink: 0;
}
.infobar .information{
	margin-left: 10px;
}


/****** Hebergements And Populaires ***********/
.accommodations-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.popular-cards .card-title, .container-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle, .container-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating, .container-cards .card-rating {
    margin-bottom: 5px;
}
.popular-cards .card-content, .container-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.accommodation {
    width: 65%;
    height: auto;
    order: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}
.container-cards{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 100%;
	gap: 30px;
}

.container-cards .card{
	width: 100%;
}
.container-cards img{
	width: 100%;
	height: 124px;
	border-top-left-radius: 20px;
   	border-top-right-radius: 20px;

}

/****** Populaires ***********/
.popular {
    width: 32%;
    order: 2;
}

.popular-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 33px;
}

.popular-cards .card{
    display: flex;
    margin-bottom: 33px;

}

.popular-cards img{
	width: 33%;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
}

.title-filter{
	font-size: 18px;
	font-weight: 700;
}

/****** Activités ***********/
.activities{
	width: 100%;
	box-sizing: border-box;
	padding: 60px 30px;
}
.activities-title{
	margin-bottom: 33px;
}
.activities-cards{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 30px;
	max-width: 100%;
}
.activities-cards .card{
	width: 100%;
	height: 439px;
	padding: 0;
}
.activities-cards img{
	width: 100%;
	height: 380px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	object-fit: cover;
}
.activities-cards .card-content {
    margin-left: 20px;
} 

/****** footer ***********/
footer{
	display: flex;
	justify-content:space-between;
	background-color: var(--main-bg-color);
	padding: 20px;

}
.content-footer{
	display: flex;
	flex-direction: column;
	width: 33%;
	line-height: 2;
}
.content-footer .title-filter{
	margin-bottom: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1025px) {

	/********* barre des filtres ************/
	.filterbar{
		align-items: flex-start;
  		flex-direction: column;
	}
	.filterbar li {
		padding: 12px 10px;
		text-align: center;
	}
	.filterbar i{
		padding-left: 0;
	}

	/********* hébergements et populaires ************/
    .accommodations-and-popular {
        flex-direction: column;
    }

	/* hébergements */
    .accommodation {
        width: 100%;
    }
    	.container-cards{
		justify-content: center;
	}

	/* polulaires */
	.popular {
		width: 100%;
		margin-top: 50px;
	}

    .popular-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title, .container-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }


	/********* activités ************/
    	.activities-cards .card{
		height: 270px;
	}
	.activities-cards img{
		height: 200px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768.98px) {

	/********* container du main ************/
	.main-container{
		padding: 0;
	}
	.info-group{
		padding: 0 20px;
	}


	/********* logo + menu de navigation ************/
	header{
		flex-direction: column;
	}
	header a{
		margin: auto;
	}

	/* Menu de navigation */
	nav ul{
		text-align: center;
		
	}
	nav ul li:hover{
	padding-bottom: 10px;
	border-bottom: 2px solid var(--main-color);
	color: var(--main-color);

	}
	nav ul li a:hover{
		border:none;
	}


	/********* barre de recherche ************/
	.search-bar form button span{
		display: none;
	}
	.search-bar form button i{
		display: block;
		color: white;
		font-size: 17px;
		
	}


	/********* barre des filtres ************/

	.filterbar ul{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 20px 15px;
		width: 100%;
		
	}
	.filterbar li{
		padding: 12px 14px;
		font-size: 16px;
	}


	/********* hébergements et populaires ************/
	.accommodations-and-popular section{
		background-color: transparent;
	}
	
	/* hébergements */
	.accommodation{
		order: 2;
	}
	.container-cards{
		grid-template-columns: repeat(1,1fr);
		gap:15px;
		width: 100%;
		
    }
	.container-cards .card{
		height: 200px;

	}
	.container-cards img{
		height: 124px;
		object-fit: cover;
		background-image: initial;
			}
	/* polulaires */
	.popular{
		order: 1;
		margin-top: 20px;
	}
	.popular-cards{
		flex-direction: column;
    }
	.popular-cards .card{
		margin-bottom: 15px;
	}
    .popular-cards a {
		width: 100%;
    }
	#color-section{
		background-color: var(--main-bg-color);
		border-radius: 0;

	}


	/********* activités ************/
	.activities-cards{
		grid-template-columns: repeat(1,1fr);
		gap: 15px;
    	}
	.activities-cards .card{
		height: 200px;

	}
	.activities-cards img{
		height: 141px;
	}
    
	.activities-cards .card .card-title{
		margin-top: 1em;

	}
	/********* footer************/
     footer{
		flex-direction: column;
	}
    .content-footer{
		width: 100%;
    }
}

