/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container, footer{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title, .subsection-title{
    margin: 0;
    font-size: 22px;
}
.subsection-title{
	margin-bottom: 1em;
}
.link-footer {
    margin: 0;
    font-size: 16px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/

header{
	display: flex;
	justify-content: space-between;
}
header img{
	width: 61px;
	height: 19px;
	padding: 30px 0;
}
nav ul{
	display: flex;
	flex-direction: row;
	
	width: 344px;
	height: 35px;

}
nav ul li{
	padding:0 50px;
	gap:68px;
}
nav ul li a:hover{
	border-top: 2px solid var(--main-color);
	color: var(--main-color);
	padding-top: 10px;

}
/****** barre de recherches ***********/
.search-bar{
	display: flex;
}
.search-bar form {
	display: flex;
	width: 375px;
	height: 49px;
	margin: 1rem 0;
}
.search-bar form .fa-location-dot{
	background-color: var(--main-bg-color) ;
	padding: 20px;
	border-radius: 15px 0 0 15px; 
	font-size: 20px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-bar form input{
	border: 1px solid var(--main-bg-color);
	border-left: none;
	border-right: none;
	font-size: 18px;
	font-weight: 700;
}
.search-bar form button{
	background-color: var(--main-color);
	padding: 15px 16px;
	color: white;
	font-size: 18px;
	font-weight: 700;
	border-radius: 0 15px 15px 0;
	border: none;
	cursor: pointer;
}
.search-bar form button i{
	display: none;
}

/****** barre de filtres ***********/
.filterbar{
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}
.filterbar ul{
	font-size: 18px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	padding-inline-start: 0;
	gap: 10px;
}

.filterbar li{
	font-size: 17px;
	border: 2px solid var(--main-bg-color);
	border-radius: 25px;
	padding: 15px 19px;
	cursor: pointer;
}
.filterbar li:hover{
	background-color: var(--filter-bg-color);
}
.filterbar i{
	width: 22px;
	height: 22px;
	padding: 0 5px;
}

/****** info bar ***********/
.infobar{
	display: flex;
	align-items: center;
	margin-top:1rem;
}
.infobar i{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 1px solid var(--main-bg-color);
	border-radius: 50%;
	font-size: 12px;
}
.infobar .information{
	margin-left: 10px;
}


/****** Hebergements And Populaires ***********/
.accommodations-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.popular-cards .card-title, .accommodation-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle, .accommodation-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating, .accommodation-cards .card-rating {
    margin-bottom: 5px;
}
.popular-cards .card-content, .accommodation-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.accommodation {
    width: 65%;
    order: 1;
}
.accommodation-cards{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	gap: 30px 25px;
}
.accommodation-cards .card{
    width: 243px;
    height: 207px;

}

.accommodation-cards img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accommodation-cards .card-content {
    width: 100%;
}



/****** Populaires ***********/
.popular {
    width: 32%;
    order: 2;
}

.popular-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popular-title i{
    margin-bottom: 33px;

}
.popular-cards .card{
    display: flex;
    margin-bottom: 33px;

}

.popular-cards img{
	width: 33%;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
}

.title-filter{
	font-size: 18px;
	font-weight: 700;
	margin-top: 1em;
}

/****** Activités ***********/
.activities{
	width: 100%;
	box-sizing: border-box;
	padding: 60px 30px;
}

.activities-cards{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	gap: 10px;
}
.activities-cards .card{
	display: flex;
	flex-direction:column;
	width: 297px;
	height: 436px;
	padding: 0;
	width: clamp(193px, 18vw, 297px);

}

.activities-cards img{
	width: 100%;
	height: 380px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	object-fit: cover;

} 

.activities-cards .card-content {
    margin-left: 20px;
}

/****** footer ***********/
footer{
	display: flex;
	justify-content:space-between;
	background-color: var(--main-bg-color);
	padding: 20px;

}
.content-footer{
	display: flex;
	flex-direction: column;
	width: 33%;
	line-height: 2;
}
.content-footer .title-filter{
	margin-bottom: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

	/********* barre des filtres ************/
	.filterbar{
		align-items: start;
  		flex-direction: column;
	}


	/********* hébergements et populaires ************/
    .accommodations-and-popular {
        flex-direction: column;
    }

	/* hébergements */
    .accommodation {
        width: 100%;
    }
    	.accommodation-cards{
		justify-content: center;
	}

	/* polulaires */
	.popular {
		width: 100%;
		margin-top: 50px;
	}

    .popular-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title, .accommodation-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }


	/********* activités ************/
    .activities-cards{
		flex-wrap: wrap;
		justify-content:center;

    }
	.activities-cards .card{
		height: 270px;
		

	}
	.activities-cards img{
		height: 200px;

	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

	*{
		margin: 0;
	}


	/********* container du main ************/
	.main-container{
		padding: 0;
	}
	.info-group{
		padding: 0 20px;
	}


	/********* logo + menu de navigation ************/
	header{
		flex-direction: column;
	}
	header img{
		margin: auto;
	}

	/* Menu de navigation */
	nav ul{
		justify-content: center;
		width: 100%;
		padding: 0;
		margin-bottom: 1rem;
	}
	nav ul li:hover{
	border-bottom: 2px solid var(--main-color);
	bottom:10px;
	color: var(--main-color);
}
	nav ul li a:hover{
		border:none;
	}


	/********* barre de recherche ************/
	.search-bar form button span{
		display: none;
	}
	.search-bar form button i{
		display: block;
		color: white;
		font-size: 17px;
		
	}


	/********* barre des filtres ************/
	.filterbar ul{
		flex-wrap: wrap;
		
	}
	.filterbar li{
		flex:0 0 140px;
	}


	/********* hébergements et populaires ************/
	.accommodations-and-popular section{
		background-color: transparent;
	}
	
	/* hébergements */
	.accommodation{
		order: 2;
	}
	.accommodation-cards{
		justify-content: center;
		gap:15px;
		
    }
	.accommodation-cards .card{
		height: 200px;
		width: 315px;

	}
	.accommodation-cards img{
		height: 124px;
	}
	/* polulaires */
	.popular{
		order: 1;
		margin-top: 20px;
	}
	.popular-cards{
		flex-direction: column;
    }
	.popular-cards .card{
		margin-bottom: 15px;
	}
    .popular-cards a {
		width: 100%;
    }
	#color-section{
		background-color: var(--main-bg-color);
		border-radius: 0;

	}


	/********* activités ************/
	.activities-cards{
		justify-content: center;
		gap: 15px;

    	}
	.activities-cards .card{
		height: 200px;
		width: 315px;

	}
	.activities-cards img{
		height: 141px;

	}
    
	.activities-cards .card .card-title{
		margin-top: 1em;

	}
	/********* footer************/
     footer{
		flex-direction: column;
	}
    .content-footer{
		width: 100%;
    }
}

